# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

HF02/HF02/Debug/HF02.tlog/CL.command.1.tlog
v14/
Debug/
*.sdf
*.sln
*.vcxproj
*.vcxproj*
*.zip
*.log
*.txt
Release/
*.*pdb
*stackdump
*sdf
